<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layout resposivo</title>
</head>
<body>
    <!-- layout responsivo -->
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Notícias</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="container">
        <section id="banner">
            <h1>Conteudo principal</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem saepe nisi obcaecati dignissimos quia velit ratione? Quae iusto, adipisci esse quasi ipsum reprehenderit porro eos, ipsa beatae natus nemo odio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur pariatur perspiciatis alias harum velit atque cupiditate nulla maiores ullam et enim blanditiis impedit repellat dolorum modi, quisquam sit debitis. Impedit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime eos repellat animi alias officiis atque natus quidem amet dolores sint incidunt mollitia dolorum, vero corrupti quasi obcaecati eveniet quis.
            </p>
        </section><!-- banner da página-->
    </main>
    <footer><p>&copy; 2021 - Desenvolvido por Rafael</p></footer>
</body>
</html>