*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
main{
    background-color: aliceblue;
    height: 100vh;
}
form{
    display: grid;
    gap: 15px;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top:15vh;

}

@media(max-width: 500px){
    form {
        height: 100vh;
        width:100vw;
    }
   
}