.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .item {
    background-color: aqua;
    flex: 1 1 auto;
    padding: 10px;
    width: 200px;
    height: auto;
  }

  img{
    height: 200px;
  }

  .a{
    background-color: aqua;
    
  }

  .b{
    background-color: rgb(115, 114, 202);
  }

  .c{
    background-color: rgb(74, 175, 53);
  }

  .d{
    background-color: rgb(209, 29, 29);
  }